.title {
    font-size: 5.0rem;
}
.contenido{
    padding-top: 30px;
    font-size: 1.2rem;
}

.contenido2{
    padding-top: 30px;
    font-size: 1.2rem;
}

.imasServicios img {
    max-width: 500px; /* Adjust this value to control the width of the images */
    max-height: 400px; /* Adjust this value to control the height of the images */
    width: auto; /* This will ensure the width of the image scales with the height, maintaining the aspect ratio */
    height: auto; /* This will ensure the height of the image scales with the width, maintaining the aspect ratio */
    padding: 20px;
    margin-bottom: 30px;
}