.paypal-buttons-context-iframe {
  margin-top: 30px;
  position: absolute !important;
}

.CalendarDay__blocked_calendar, .CalendarDay__blocked_out_of_range {
  background-color: #ff6b6b !important; 
  color: white; 
}
